


.first_line{
  background: rgba(147, 112, 219, 0.33);
}
table{
  position: relative;
  width: 80vw;
  border-collapse: collapse;
  align-items: center;
  background: rgba(147, 112, 219, 0.34);
  border-radius: 15px;
  z-index: 2;

}
tbody{
  position: relative;
  text-align: center;
  left: 10%;
}
td,th{
  z-index: 1;
  color:black;

}
th{
  font-weight: bolder;
}
div{
  color : red;
  font-weight: bolder;
}
