.stay{;
  background-color: white;
}
.first_line{
  background: rgba(147, 112, 219, 0.33);
  position: relative;
  border-radius: 5px;
}
table{
  position: relative;
  width: 50vmin;
  border-collapse: collapse;
  align-items: center;
  background: rgba(147, 112, 219, 0.34);
  border-radius: 5px;
  /*z-index: 2;*/

}
tbody{
  position: relative;
  text-align: center;

}
td,th{
  z-index: 1;
  color:black;
}
th{
  font-weight: bolder;
}
.title{
  text-align: center;
}
.card{
  background-color: rgba(255, 255, 255, 0.5);
  /*height: 30vh;*/
  height: 30vmin;

}
.content{
  color:black;
}
/*.columns is-mobile{*/
/*  position: relative;*/
/*  top:50px;*/
/*}*/
.title{
  color: white;
}
.first_line{
  color: white;
}
tr, th, td {
  color: white;
}
