
.first_line{
  background: rgba(147, 112, 219, 0.33);
  position: relative;
  border-radius: 5px;
}
table{
  position: relative;
  width: 30vw;
  border-collapse: collapse;
  align-items: center;
  background: rgba(147, 112, 219, 0.34);
  border-radius: 5px;
  /*z-index: 2;*/

}
tbody{
  position: relative;
  text-align: center;
  left: 30%;
}
td,th{
  z-index: 1;
  color:black;
}
th{
  font-weight: bolder;
}
.title{
  text-align: center;
}
.columns is-mobile{
  position: relative;
  top:50px;
}
