<div class="columns is-mobile">
  <div class="column" >
    <tbody>
    <table>
      <tr class="first_line">
        <th>ID</th>
        <th>Full Name</th>
        <th>City</th>
      </tr>
      <ng-container *ngFor="let i of ((ringPhysioData$ | async))">
        <tr>
          <td>{{i.id}}</td>
          <td>{{i.name}}</td>
          <td>{{i.city}}</td>
        </tr>
      </ng-container>
    </table>
    </tbody>
  </div>
  <div class="column" >
    <tbody>
    <table>
      <tr class="first_line">
        <th>ID</th>
        <th>Full Name</th>
        <th>City</th>
      </tr>
      <ng-container *ngFor="let i of ((ringPhysioData$ | async))">
        <tr>
          <td>{{i.id}}</td>
          <td>{{i.name}}</td>
          <td>{{i.city}}</td>
        </tr>
      </ng-container>
    </table>
    </tbody>
  </div>
</div>
<div class="columns is-mobile">
  <div class="column" >
    <tbody>
    <table>
      <tr class="first_line">
        <th class="title"></th>
        <th class="title">FitBit Charge2 Data</th>
        <th class="title"></th>
      </tr>
      <tr class="first_line">
        <th>Činnosť</th>
        <th>Hodnota</th>
        <th>Dátum</th>
      </tr>

      <ng-container *ngFor="let i of (bandActivitiesData$ | async)?.activities">

        <tr>{{ i?.activityName }}
          <td>{{ i?.activityName }} </td>
          <td>{{ i?.activityName }} </td>
        </tr>
        <tr>{{ i?.activityName }}
          <td>{{ i?.activityName }} </td>
          <td>{{ i?.activityName }} </td>
        </tr>
        <tr>{{ i?.activityName }}
          <td>{{ i?.activityName }} </td>
          <td>{{ i?.activityName }} </td>
        </tr>

      </ng-container>
    </table>
    </tbody>
  </div>
  <div class="column" >
    <tbody>
    <table>
      <tr class="first_line">
        <th class="title"></th>
        <th class="title">FitBit Versa2 Data</th>
        <th class="title"></th>
      </tr>
      <tr class="first_line">
        <th>Činnosť</th>
        <th>Hodnota</th>
        <th>Dátum</th>
      </tr>

      <ng-container *ngFor="let i of (bandActivitiesData$ | async)?.activities">

        <tr>{{ i?.activityName }}
          <td>{{ i?.activityName }} </td>
          <td>{{ i?.activityName }} </td>
        </tr>
        <tr>{{ i?.activityName }}
          <td>{{ i?.activityName }} </td>
          <td>{{ i?.activityName }} </td>
        </tr>
        <tr>{{ i?.activityName }}
          <td>{{ i?.activityName }} </td>
          <td>{{ i?.activityName }} </td>
        </tr>

      </ng-container>
    </table>
    </tbody>
  </div>
</div>







<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class=".col-6 .col-sm-3">-->
<!--      <tbody>-->
<!--      <table>-->
<!--        <tr class="first_line">-->
<!--          <th>ID</th>-->
<!--          <th>Full Name</th>-->
<!--          <th>City</th>-->
<!--        </tr>-->
<!--        <ng-container *ngFor="let i of ((ringPhysioData$ | async))">-->
<!--          <tr>-->
<!--            <td>{{i.id}}</td>-->
<!--            <td>{{i.name}}</td>-->
<!--            <td>{{i.city}}</td>-->
<!--          </tr>-->
<!--        </ng-container>-->
<!--      </table>-->
<!--      </tbody>-->
<!--    </div>-->
<!--    <div class=".col-6 .col-sm-3">-->
<!--      <tbody>-->
<!--      <table>-->
<!--        <tr class="first_line">-->
<!--          <th>ID</th>-->
<!--          <th>Full Name</th>-->
<!--          <th>City</th>-->
<!--        </tr>-->
<!--        <ng-container *ngFor="let i of ((ringPhysioData$ | async))">-->
<!--          <tr>-->
<!--            <td>{{i.id}}</td>-->
<!--            <td>{{i.name}}</td>-->
<!--            <td>{{i.city}}</td>-->
<!--          </tr>-->
<!--        </ng-container>-->
<!--      </table>-->
<!--      </tbody>-->

<!--    </div>-->
<!--&lt;!&ndash;  <hr>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="row">&ndash;&gt;-->
<!--    <div class="w-100"></div>-->
<!--    <div class=".col-6 .col-sm-3">-->
<!--      <tbody>-->
<!--      <table>-->
<!--        <tr class="first_line">-->
<!--          <th class="title"></th>-->
<!--          <th class="title">FitBit Charge2 Data</th>-->
<!--          <th class="title"></th>-->
<!--        </tr>-->
<!--        <tr class="first_line">-->
<!--          <th>Činnosť</th>-->
<!--          <th>Hodnota</th>-->
<!--          <th>Dátum</th>-->
<!--        </tr>-->

<!--        <ng-container *ngFor="let i of (bandActivitiesData$ | async)?.activities">-->

<!--          <tr>{{ i?.activityName }}-->
<!--            <td>{{ i?.activityName }} </td>-->
<!--            <td>{{ i?.activityName }} </td>-->
<!--          </tr>-->
<!--          <tr>{{ i?.activityName }}-->
<!--            <td>{{ i?.activityName }} </td>-->
<!--            <td>{{ i?.activityName }} </td>-->
<!--          </tr>-->
<!--          <tr>{{ i?.activityName }}-->
<!--            <td>{{ i?.activityName }} </td>-->
<!--            <td>{{ i?.activityName }} </td>-->
<!--          </tr>-->

<!--        </ng-container>-->
<!--      </table>-->
<!--      </tbody>-->
<!--    </div>-->
<!--    <div class=".col-6 .col-sm-3">-->
<!--      <tbody>-->
<!--      <table>-->
<!--        <tr class="first_line">-->
<!--          <th class="title"></th>-->
<!--          <th class="title">FitBit Versa2 Data</th>-->
<!--          <th class="title"></th>-->
<!--        </tr>-->
<!--        <tr class="first_line">-->
<!--          <th>Činnosť</th>-->
<!--          <th>Hodnota</th>-->
<!--          <th>Dátum</th>-->
<!--        </tr>-->

<!--        <ng-container *ngFor="let i of (bandActivitiesData$ | async)?.activities">-->

<!--          <tr>{{ i?.activityName }}-->
<!--            <td>{{ i?.activityName }} </td>-->
<!--            <td>{{ i?.activityName }} </td>-->
<!--          </tr>-->
<!--          <tr>{{ i?.activityName }}-->
<!--            <td>{{ i?.activityName }} </td>-->
<!--            <td>{{ i?.activityName }} </td>-->
<!--          </tr>-->
<!--          <tr>{{ i?.activityName }}-->
<!--            <td>{{ i?.activityName }} </td>-->
<!--            <td>{{ i?.activityName }} </td>-->
<!--          </tr>-->

<!--        </ng-container>-->
<!--      </table>-->
<!--      </tbody>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<br>-->
<!--<hr>-->

