<div class="columns is-desktop" >
    <div class="column" >
      <div class="table-container">
        <div class="wrapper">
          <img src="https://cdn1.smartprix.com/rx-i1vBw8DwY-w1200-h1200/1vBw8DwY.jpg">
          <img src="https://target.scene7.com/is/image/Target/GUEST_9c567666-595e-46e1-bf45-5274c6e48665">
          <img
            src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/smart-watches-2021-lead-1634826413.jpg">
          <img src="https://i.insider.com/612cf83812b9cc0019635048?width=700">
        </div>
      </div>
    </div>

    <div class="column" style="color: white">
      <header class="card-header" style="color: white">
        <p class="card-header-title" style="color: white">
          Inteligentné zariadenia
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget
          metus.
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur
          purus sit amet fermentum.
          Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget
          metus.
        </div>
      </div>
    </div>

</div>

