.table-container{
  width: 25vmin;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  border: 20px solid rgba(255, 255, 255, 0.4);
  box-shadow: 10px 25px 30px rgba(122, 60, 138, 0.3);
}
.card{
  width: 50vmin;
  background-color: rgba(255, 255, 255, 0.5);



}
.wrapper{
  display: flex;
  animation: slide 16s infinite;
}
@keyframes slide{
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(0);
  }
  30%{
    transform: translateX(-100%);
  }
  50%{
    transform: translateX(-100%);
  }
  55%{
    transform: translateX(-200%);
  }
  75%{
    transform: translateX(-200%);
  }
  80%{
    transform: translateX(-300%);
  }
  100%{
    transform: translateX(-300%);
  }
}
img{
  width: 100%;
}
